# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ main ]
 
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Build
        run: echo "Build"

 test:
   runs-on: ubuntu-latest
   needs: build

   steps: 
      - name: Test
        run: echo "Test"

deploy:
   runs-on: ubuntu-latest
   needs: build

   steps: 

      - name: Deploy
        run: echo "Deploy"
